﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link href="~/css/index.css" rel="stylesheet" />
<div class="d-flex justify-content-center align-items-center mt-5">


    <div class="card">
        <div>
            <h4 style="text-align:center">Edit Your Profile</h4>
            <br />
            <input type="text" name="" class="form-control" placeholder="First Name" id="firstName">
            <br />
            <input type="text" name="" class="form-control" placeholder="Last Name" id="lastName">
            <br />
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select Avatar
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <img class="avatar" id="image1" onclick="getImgUrl(this)" src="https://bootdey.com/img/Content/avatar/avatar1.png" />
                    <img class="avatar" id="image2" onclick="getImgUrl(this)" src="https://bootdey.com/img/Content/avatar/avatar2.png" />
                    <img class="avatar" id="image3" onclick="getImgUrl(this)" src="https://bootdey.com/img/Content/avatar/avatar3.png" />
                    <br />
                    <img class="avatar" id="image4" onclick="getImgUrl(this)" src="https://bootdey.com/img/Content/avatar/avatar4.png" />
                    <img class="avatar" id="image5" onclick="getImgUrl(this)" src="https://bootdey.com/img/Content/avatar/avatar5.png" />
                    <img class="avatar" id="image6" onclick="getImgUrl(this)" src="https://bootdey.com/img/Content/avatar/avatar6.png" />
                    <br />
                    <img class="avatar" id="image7" onclick="getImgUrl(this)" src="https://bootdey.com/img/Content/avatar/avatar7.png" />
                    <img class="avatar" id="image8" onclick="getImgUrl(this)" src="https://bootdey.com/img/Content/avatar/avatar8.png" />

                </div>
                <img class="avatar" style="opacity:1" id="sideImage" src="https://bootdey.com/img/Content/avatar/avatar1.png" />
            </div>
            <br />
            <input type="tel" class="form-control" id="phoneNumber" name="phone" placeholder="0555-555-5555" pattern="[0]{1}-[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
            <br />
            <input type="date" class="form-control" id="birthDate" value="2002-04-23" min="1950-01-01" max="2012-12-31" />
            <br />           
            <input type="text" name="" class="form-control" placeholder="Your Main Language" id="language">
            <br/>
            <button class="btn btn-dark btn-block" id="SetProfile">Set Profile</button>
        </div>

    </div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
@section scripts{
<script>
    var UserName = '@ViewBag.UserName';
    var imgUrl = "";
</script>
<script src="~/js/firstTimeEdit.js"></script>
}