@{
    ViewData["Title"] = "Message";
}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<link href="~/css/chat.css" rel="stylesheet" />
<audio id="notificationSound" src="~/lib/notification.mp3"></audio>
<div class="container">
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card chat-app" style="width:1296px;height:800px;">

                <div id="plist" class="people-list">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Search..." id="searchInput">
                    </div>
                    <!-- Users -->
                    <div class="row" style="width:264px;height:700px; overflow:auto;">

                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                <ul class="list-unstyled chat-list mt-2 mb-0" id="users">
                                </ul>
                            </div>
                    </div>


                </div>
                <!-- User Header-->

                <div class="chat">
                    <div class="chat-header clearfix">
                        <div class="row">
                            <div class="col-lg-6" id="userHeader">

                            </div>

                        </div>
                    </div>
                    <!-- Chat History -->

                    <div class="chat-history" style="width:1015px;height:600px; overflow:auto;">
                        <ul class="m-b-0" id="messagesList">
                            
                        </ul>
                    </div>
                    <!-- Message Send -->
                    <div class="chat-message clearfix">
                        <div class="input-group mb-0">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-primary" type="submit" id="sendButton"><span class="input-group-text"><i class="fa fa-send"></i></span></button>
                            </div>
                            <input type="text" class="form-control" placeholder="Enter text here..." id="messageInput">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
@section scripts {
    <script>
        var joinedUser = '@ViewBag.UserName';
                // Burada joinedUser kullanarak yapmak istediğiniz işlemi gerçekleştirebilirsiniz
        var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7212/ChatHub").withAutomaticReconnect().build();
        var targetUser = "";
        //Log In in start
        connection.start().then(function () {
            connection.invoke("GetUserName",joinedUser).catch(function (err) {
                return console.error(err.toString());
            });

        }).catch(function (err) {
            return console.error(err.toString());
        });
        //All Users
        connection.on("Users", function (usersList) {
            const userList = document.getElementById("users");
            userList.innerHTML = "";
            usersList.forEach(function (user) {
                const listItem = document.createElement("li");
                if(user.userName == joinedUser )
                {

                }
                else
                {
                    if (user.online) {
                        var str = `<li class="clearfix" id="user" onclick="getUser(this)"><img src="${user.imageUrl}" alt="avatar"><div class="about"><div class="name" id="userName"> ${user.userName}</div><div class="row p-1"></div><div class="status"> <i class="fa fa-circle online"></i></div><div id="sideMessage"></div></div></li> `
                    }
                    else {
                        var str = `<li class="clearfix" id="user" onclick="getUser(this)"><img src="${user.imageUrl}" alt="avatar"><div class="about"><div class="name" id="userName"> ${user.userName}</div><div class="row p-1"></div><div class="status"> <i class="fa fa-circle offline"></i></div><div id="sideMessage"></div></div></li> `
                    }
                }
                

                listItem.innerHTML = str;
                userList.appendChild(listItem);
            });
        });
        connection.on("ReceiveMessageMine", function (user, message, time) {
            var li = document.createElement("li");
            var str = `<li class="clearfix"><div class="message-data text-right"style="margin-left: 760px;"><span class="message-data-time">${time} ${user.userName}</span></div> <div class="message other-message float-right"> \n ${message} </div></li>`;
            document.getElementById("messagesList").appendChild(li);
            li.innerHTML = str;
            var notificationSound = document.getElementById("notificationSound");
            notificationSound.play();
            // Tüm li elementleri seç
            var liElements = document.querySelectorAll("li#user");

            // li elementlerini döngüyle gez
            for (var i = 0; i < liElements.length; i++) {
                // Seçilen li elementindeki userName div'ini seç
                var userNameDiv = liElements[i].querySelector("div#userName");

                // Seçilen kullanıcının userName etiketiyle eşleşiyorsa
                if (userNameDiv.textContent === targetUser) {
                    // Li elementinin sideMessage div'inin textcontent'ini değiştir
                    var sideMessageDiv = liElements[i].querySelector("div#sideMessage");
                    if (message.length < 14) {
                        sideMessageDiv.textContent = '\n ' + message.substring(0, 12);
                    }
                    else {
                        sideMessageDiv.textContent = '\n ' + message.substring(0, 12) + '...';
                    }

                }
            }

        });

        connection.on("ReceiveMessageFromOthers", function (user, message, time) {

            const _userName = user.userName
            if (_userName.trim() === targetUser.trim()) {
                var li = document.createElement("li");
                var str = `<li class="clearfix"><div class="message-data"><span class="message-data-time">${time} ${user.userName}</span></div><div class="message my-message"> \n ${message}</div></li>`;
                document.getElementById("messagesList").appendChild(li);
                li.innerHTML = str;
                var notificationSound = document.getElementById("notificationSound");
                notificationSound.play();
            }
            var liElements = document.querySelectorAll("li#user");
            // li elementlerini döngüyle gez
            for (var i = 0; i < liElements.length; i++) {
                // Seçilen li elementindeki userName div'ini seç
                var userNameDiv = liElements[i].querySelector("div#userName");
                // Seçilen kullanıcının userName etiketiyle eşleşiyorsa
                if (userNameDiv.textContent.trim() === _userName.trim()) {
                    // Li elementinin sideMessage div'inin textcontent'ini değiştir
                    var sideMessageDiv = liElements[i].querySelector("div#sideMessage");
                    if (message.length < 14) {
                        sideMessageDiv.textContent = '\n ' + message.substring(0, 12);
                    }
                    else {
                        sideMessageDiv.textContent = '\n ' + message.substring(0, 12) + '...';
                    }

                }
            }
        });


        // ShowMessages
        connection.on("ShowMessages", function (messages) {
            document.getElementById("messagesList").innerHTML = "";
            messages.forEach(function (message) {
                if (message.sender.userName == joinedUser.trim() && message.reciver.userName == targetUser.trim()) {
                    var listItem = document.createElement("li");
                    var str = `<li class="clearfix"><div class="message-data text-right"style="margin-left: 760px;"><span class="message-data-time ">${message.createdTime} ${message.sender.userName}</span> </div> <div class="message other-message float-right"> \n ${message.body} </div></li>`;
                    listItem.innerHTML = str;
                    document.getElementById("messagesList").appendChild(listItem);
                }
                if (message.sender.userName == targetUser.trim() && message.reciver.userName == joinedUser.trim()) {
                    var listItem = document.createElement("li");
                    var str = `<li class="clearfix"><div class="message-data"><span class="message-data-time">${message.createdTime} ${message.sender.userName}</span></div><div class="message my-message">${message.body}</div></li>`;
                    listItem.innerHTML = str;
                    document.getElementById("messagesList").appendChild(listItem);
                }
            });

        });

        // Send Message
        document.getElementById("sendButton").addEventListener("click", function (event) {
            var message = document.getElementById("messageInput").value;
            connection.invoke("SendMessage", joinedUser, targetUser, message).catch(function (err) {
                return console.error(err.toString());
            });
            event.preventDefault();
        });

        //Current User
        function getUser(user) {
            var _user = user // tıklanan resmin image url'sini al
            targetUser = user.querySelector("div#userName").innerHTML;
            //var header = `<div class="col-lg-6" id="userHeader"> <h6 class="m-b-0">${targetUser}</h6><small>Last seen: 2 hours ago</small></div>`;
            // burada istediğiniz şekilde image url stringini kullanabilirsiniz
            document.getElementById("userHeader").innerHTML = _user.innerHTML;
            if (targetUser != '') {
                connection.invoke("GetMessages", joinedUser, targetUser).catch(function (err) {
                    return console.error(err.toString());
                });
            }
        }

        //User filter
        // search inputunu ve ul etiketini yakala
        const searchInput = document.getElementById('searchInput');
        const _userList = document.getElementById('users');

        // search inputunda herhangi bir değer değiştiğinde çalışacak fonksiyonu tanımla
        searchInput.addEventListener('input', function (event) {
            // girilen değeri al
            const searchText = event.target.value.toLowerCase();
            // li elementlerini al
            const users = _userList.getElementsByTagName('li');

            // her bir li elementinin içindeki userName div elementini kontrol et
            for (let i = 0; i < users.length; i++) {
                const userName = users[i].querySelector('#userName');
                const nameValue = userName.textContent.toLowerCase();

                // girilen değer ile userName içindeki text karşılaştır
                if (nameValue.includes(searchText)) {
                    // eşleşme varsa li elementini görünür yap
                    users[i].style.display = 'block';
                } else {
                    // eşleşme yoksa li elementini gizle
                    users[i].style.display = 'none';
                }
            }
        });

    </script>
}

